<h1>Hi, <%= @user.username %></h1>

<p>
  We're so glad you decided to join PhotoSchmoto. We look forward to hosting your galleries!
</p>

<p>
  Stop by anytime at <%= link_to "Our site", root_url %>.
</p>
