<div class="media">

  <div class="media-left">
    <%= link_to @gallery do %>
      <%= image_tag @gallery.pictures, class: "media-object img-circle" %>
    <% end %>
  </div>

  <h3><%= @gallery.name %></h3>

  <p><%= @gallery.description %></p>
